
img{
    width: 100%;
}
.container{
    width: 100%;
    margin: auto;
    display: grid;

}
.Home-button{
    background-color: palevioletred;
    
}
.Home-button button{
    margin-left: 800px;
    width: 120px;
    height: 1600px;
    color: palevioletred;
}